<extend name="Public:index" />
<!-- page heading start-->
<block name="content">

    <div class="pageheader">
      <h2><i class="fa fa-table"></i> 复城国际 <span>复城国际后台管理系统</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">你在这里:</span>
        <ol class="breadcrumb">
          <li style="color: royalblue">客户留言编辑</li>
        </ol>
      </div>
    </div>

  <div class="contentpanel">

    <div class="panel panel-default">
      <div class="panel-body panel-body-nopadding">
        <form class="form-horizontal form-bordered" action="{:U('Admin/Message/edit')}" method="post">

          <input type="hidden" name="mess_id" value="{$info.id}">

          <div class="form-group">
            <label class="col-sm-3 control-label">联系方式</label>
            <div class="col-sm-6">
              <input type="text" placeholder="{$info.phone}" class="form-control" disabled="" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">姓名</label>
            <div class="col-sm-6">
              <input type="text" placeholder="{$info.name}" class="form-control" disabled="" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">来源</label>
            <div class="col-sm-6">
              <input type="text" placeholder="{$info.source}" class="form-control" disabled="" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">预约房源</label>
            <div class="col-sm-6">
              <input type="text" placeholder="{$info.reservation}" class="form-control" disabled="" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">留言</label>
            <div class="col-sm-6">
              <textarea placeholder="{$info.message}" class="form-control" rows="5" disabled=""></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">留言时间</label>
            <div class="col-sm-6">
              <input type="text" placeholder="{$info.time}" class="form-control" disabled="" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">留言回复</label>
            <div class="col-sm-6">
              <textarea name="answer" id="" class="form-control" rows="5" required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">处理人</label>
            <div class="col-sm-6">
              <input name="name" type="text" class="form-control" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">历史回复</label>
            <div class="col-sm-6">
              <table class="table table-striped" id="table2">
                <thead>
                <tr>
                  <th>回复内容</th>
                  <th>处理人</th>
                  <th>处理时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="infos" id="v">
                  <tr>
                    <td>{$v.answer}</td>
                    <td>{$v.name}</td>
                    <td>{$v.time}</td>
                    <td>
                      <a style="text-decoration:none" onclick="picture_del(this,'{:U('Admin/Message/deteme',array('id'=>$v['id']))}')" href="javascript:;" >删除</a>
                    </td>
                  </tr>
                </volist>
                </tbody>
              </table>
            </div>
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-primary">提交</button>&nbsp;
                <button class="btn btn-default">取消</button>
              </div>
            </div>
          </div>

        </form>

      </div><!-- panel-body -->
    </div><!-- panel -->
  </div><!-- panel -->
</block>
<block name="js">
  <script>

    /*删除*/
    function picture_del(obj,id){
      layer.confirm('确认要删除吗？',function(index){
        $.ajax({
          type: 'POST',
          url: id,
          dataType: 'json',
          success: function(data){
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
          },
          error:function(data) {
            console.log(data.msg);
          },
        });
      });
    }

jQuery(document).ready(function() {

  var table = $('#table1').DataTable({
    "sPaginationType": "full_numbers",
    "processing": true,
    "serverSide": true,
    "search": {
      "search": ""
    },
    ajax: {url: "{:U('Admin/Message/lists')}", dataType: 'json'},
    "columns": [
      {"data":"id"},
      {"data":"phone"},
      {"data":"name"},
      {"data":"source"},
      {"data":"reservation"},
      {"data":"message"},
      {"data":"time"},
      {data: null, render: function (data, type, full, meta) {
        console.log(full.id);
        var html = '';
        if (type = "display") {
          html =
                  '<a class="btn btn-success" href="/Admin/Message/edit/id/'+full.id+'" >'+'<i class="fa fa-pencil"></i></a>'+ '&nbsp;&nbsp;&nbsp;'+
                  '<a class="btn btn-danger" onclick="picture_del('+full.id+')">'+'<i class="fa fa-trash-o"></i></ a>';
        }
        return html;
      }
      }
    ],
    "columnDefs": [
      {targets: [0,1,2,3,4,5,6,7], "orderable": false}
    ],
    "language": {
      "paginate": {
        "first": "首页",
        "previous": "上一页",
        "next": "下一页",
        "last": "末页"
      }
    }
  });
});
  </script>
</block>

