<extend name="Public:index" />
<!-- page heading start-->
<block name="content">

    <div class="pageheader">
      <h2><i class="fa fa-table"></i> 复城国际 <span>复城国际后台管理系统</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">你在这里:</span>
        <ol class="breadcrumb">
          <li style="color: royalblue">新闻分类</li>
        </ol>
      </div>
    </div>

  <div class="contentpanel">

    <div class="panel panel-default">
      <div class="panel-body panel-body-nopadding">
        <form class="form-horizontal form-bordered" action="{:U('Admin/Classs/edit')}" method="post">

          <input type="hidden" name="id" value="{$infos.id}">

          <div class="form-group">
            <label class="col-sm-3 control-label">上级分类</label>
            <div class="col-sm-6">
              <select name="father" class="form-control">
                <volist name="info" id="list">
                  <option value="{$list.id}" <eq name="list.mr" value="mr">selected = "selected"</eq>>{$list.classname}</option>
                </volist>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">分类名称</label>
            <div class="col-sm-6">
              <input name="classname" value="{$infos.classname}" type="text" class="form-control" required/>
            </div>
          </div>

          <div class="form-group" id="type">
            <label class="col-sm-3 control-label">是否有连接</label>
            <div class="col-sm-6">
              <select name="type" class="form-control">
                <option value="2" <eq name="infos.type" value="2">selected = "selected"</eq>>否</option>
                <option value="1" <eq name="infos.type" value="1">selected = "selected"</eq>>是</option>
              </select>
            </div>
          </div>

          <div class="form-group" id="">
            <label class="col-sm-3 control-label">连接</label>
            <div class="col-sm-6">
              <input name="url" value="{$infos.url}" type="text" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">是否菜单按钮</label>
            <div class="col-sm-6">
              <select name="is_an" class="form-control">
                <option value="2" <eq name="infos.is_an" value="2">selected = "selected"</eq>>否</option>
                <option value="1" <eq name="infos.is_an" value="1">selected = "selected"</eq>>是</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">排序值</label>
            <div class="col-sm-6">
              <input name="sorting" value="{$infos.sorting}" type="text" class="form-control" required/>
            </div>
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-primary">提交</button>&nbsp;
                <button class="btn btn-default">取消</button>
              </div>
            </div>
          </div>

        </form>

      </div><!-- panel-body -->
    </div><!-- panel -->
  </div><!-- panel -->
</block>
<block name="js">
  <script>

    /*删除*/
    function picture_del(obj,id){
      layer.confirm('确认要删除吗？',function(index){
        $.ajax({
          type: 'POST',
          url: id,
          dataType: 'json',
          success: function(data){
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
          },
          error:function(data) {
            console.log(data.msg);
          },
        });
      });
    }

    /*
     隐藏连接输入框
     */
    $(function(){
      // 隐藏
      $("#type").change(function() {
        // 获取所选中的内容
        den = $("#type").find("option:selected").text();
        if(den === "是") {
          $("#url").show();
        } else {
          $("#url").hide();
        }
      });
    });

jQuery(document).ready(function() {

  var table = $('#table1').DataTable({
    "sPaginationType": "full_numbers",
    "processing": true,
    "serverSide": true,
    "search": {
      "search": ""
    },
    ajax: {url: "{:U('Admin/Classs/lists')}", dataType: 'json'},
    "columns": [
      {"data":"id"},
      {"data":"phone"},
      {"data":"name"},
      {"data":"source"},
      {"data":"reservation"},
      {"data":"message"},
      {"data":"time"},
      {data: null, render: function (data, type, full, meta) {
        console.log(full.id);
        var html = '';
        if (type = "display") {
          html =
                  '<a class="btn btn-success" href="/Admin/Classs/edit/id/'+full.id+'" >'+'<i class="fa fa-pencil"></i></a>'+ '&nbsp;&nbsp;&nbsp;'+
                  '<a class="btn btn-danger" onclick="picture_del('+full.id+')">'+'<i class="fa fa-trash-o"></i></ a>';
        }
        return html;
      }
      }
    ],
    "columnDefs": [
      {targets: [0,1,2,3,4,5,6,7], "orderable": false}
    ],
    "language": {
      "paginate": {
        "first": "首页",
        "previous": "上一页",
        "next": "下一页",
        "last": "末页"
      }
    }
  });
});
  </script>
</block>

